<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p class="text-center m-0">All Rightd Reserved &copy;2022. Developed By <a href="#">Subhanakar</a></p>
  </div>
</footer>