<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Upload</title>
</head>

<body>
    {{>navbar}}
    <main style="height:90vh" class="d-flex">
        {{>sidebar}}
        <div class="contentContainer w-100 p-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Course</li>
                </ol>
            </nav>

            <form action="/add-course" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8 col-12">
                        <div class="mb-3">
                            <label for="title" class="form-label">Course Name</label>
                            <input type="text" name="title" id="title" class="form-control"
                                placeholder="Enter Course Title" required>
                        </div>
                        <div class="mb-3">
                            <label for="desc" class="form-label">Course Description</label>
                            <textarea name="description" id="desc" class="form-control" cols="30" rows="5"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="thumbnail" class="form-label">Course Thumbnail</label>
                            <input type="file" name="thumbnail" id="thumbnail" class="form-control"
                                placeholder="Enter Course Title" required>
                            {{!-- <input type="text" name="thumbnail" id="thumbnail" class="form-control"
                                placeholder="Enter Course Title" required> --}}
                        </div>
                        <div class="mb-3">
                            <label for="into" class="form-label">Introduction Video link</label>
                            <input type="text" name="introlink" id="into" class="form-control"
                                placeholder="Enter Course Intro Link" required>

                        </div>
                    </div>
                    <div class="col-md-4 col-12 pt-1">
                        <div class="mb-3">
                            <label for="into" class="form-label">Price</label>
                            <input type="text" name="price" id="into" class="form-control"
                                placeholder="Enter Course Price" required>
                        </div>
                        <div class="mb-3">
                            <label for="into" class="form-label">Discount</label>
                            <input type="text" name="discount" id="into" class="form-control"
                                placeholder="Enter Course Discount Price" required>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status"
                                    id="flexRadioDefault1" value="Active" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status"
                                    id="flexRadioDefault2" value="Disabled">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Disable
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                </div>



            </form>

        </div>

        </div>

    </main>





    {{!-- <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="text" class="form-control mb-3" name="name" placeholder="Enter Your Name">
                <input type="file" name="thumbnail" class="mb-3">

                <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </form>

        </div>
    </div> --}}

    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>